html {
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
}

h1 {
    font-weight: 600;
    font-size: 1.3rem;
}
h2 {
    font-size: 1.1rem;
    font-weight: 300;
}

.wrapped {
    word-wrap: normal;
}

.blog-h1 {
    font-size: 1.1rem;
    font-weight: 300;
    color: purple;
}

.error {
    color: red;
}

.pure-button-primary {
    background-color: purple;
}

body {
    background-image: url("http://www.designhouseonline.co.uk/image/cache/banbury/cole-son-victorian-trellis-grey-wallpaper-306-350x350.jpg");
}


.spacing{
 width: 60%;
    padding: 25px;
    border: 15px solid navy;
    margin: 25px;
    word-wrap: break-word;
}

.sidebar {
    box-sizing: border-box;
    padding-left: 1ex;
}
.sidebar h1 {
    text-align: center;
}

.form {
    width: 100%;
    float: left;
    padding-left: 1ex;
}

@media screen and (min-width: 48em) {
    .sidebar h1 {
        text-align: left;
    }
}

.logout {
    background-color: red;
    color: white;
}

.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button.login {
    background-color: green;
    color: white;
}