{% extends 'base.html'%}
{% block title %}
        Bloggie
{% endblock %}
{% block content %}


    <div class="pure-g">
    <div class="pure-u-1-5">
    <h1>Bloggie</h1>
    {% if session.auth_user %}
        <!-- <a href="/new_post.html">New post</a> -->
        <form method="GET" action="/add">
        <input class="pure-button pure-button-primary" type="submit" value="New Post">
        </form>

        <p>You are logged in as {{ session.auth_user }}</p>

        <form method="GET" action="/logout">
        <input class="pure-button " type="submit" value="Log Out">
        </form>

        <!-- <p>You are logged in as {{ session.auth_user }}. <a href="/logout">Log Out</a>.</p> -->
    {% else %}
        <!-- <a href="/login.html">Log In</a> -->
        <form method="GET" action="login.html">
        <input class="pure-button pure-button-primary" type="submit" value="Log In">
        </form>
    {% endif %}
    </div>



    <div class="pure-u-4-5">
    <h1> Recent Posts </h1>

    {% for items in blog_list %}
        <article class = "spacing">
        <a class = "blog-h1" href = "/posts/{{items.id}}"> {{ items.title }}</a>
            <p class = "wrapped"> {{ items.blog }}</p>
        </article>
    {% endfor %}
    </div>
       </div>

{% endblock %}